beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
cssselect==1.1.0
fire==0.4.0
idna==2.10
lxml==4.6.2
parse==1.19.0
pyquery==1.4.3
pywebcopy==6.3.0
requests==2.25.1
six==1.15.0
soupsieve==2.1
termcolor==1.1.0
urllib3==1.26.3
w3lib==1.22.0
